* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
  font-family: 'Sora', sans-serif;
}
*::selection {
  background-color: #51515182;
  color: #fff;
}
body {
  background-color: #ededed34;
}
nav {
  padding: 1% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cccccc34;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logoTitle {
  font-weight: 700;
  font-size: 17px;
}
.aboutButton {
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #ccc;
  border: 1px solid transparent;
  position: relative;
}
.aboutButton:hover {
  border: 1px solid #000000;
  cursor: pointer;
}
.aboutButton span {
  position: absolute;
  font-weight: normal;
  font-size: small;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: #000000;
  color: #ccc;
  display: none;
  bottom: -40px;
  text-align: center;
  z-index: 5;
}
.aboutButton:hover > span {
  display: block;
  pointer-events: none;
}
.aboutDialog {
  z-index: 3;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #00000035;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  right: 10%;
  top: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.aboutDialog p {
  font-size: 14px;
  color: #000000cd;
}
.aboutDialog .list {
  display: flex;
  gap: 10px;
  align-items: baseline;
  font-size: 14px;
}
.aboutDialog .list .icon {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-weight: 500;
}

.editor {
  padding: 2% 10%;
}
.characters {
  padding: 5px 10px;
  background-color: #e0dededd;
  border-radius: 5px;
  width: fit-content;
}
.firstFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.undoAndRedoBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.undoAndRedoBtn button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  background-color: #e1e1e11d;
}
.undoAndRedoBtn button:hover {
  background-color: #0000001d;
  opacity: 0.9;
}
.undoAndRedoBtn button:active {
  background-color: rgb(255, 255, 255);
  scale: 0.87;
}
.searchContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.searchContainer input {
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  width: 90%;
}
.searchContainer input:focus {
  border: 1px solid #888;
}
.searchResult {
  color: rgba(0, 128, 0, 0.815);
  font-size: 12px;
}
.noSearchResult {
  color: rgba(128, 0, 0, 0.815);
  font-size: 12px;
}
.bottomFlex{
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}
.copyToClipboard{
   display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #0000001d;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.savingContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}
.saveBtn {
  width: 150px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.saveBtn span {
  background-color: transparent;
}
.saveBtnOption {
  position: absolute;
  bottom: -80%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.saveBtnOption button {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.saveBtnOption button:nth-child(1) {
  position: relative;
}
.saveBtnOption button:nth-child(1) span {
  position: absolute;
  bottom: -100%;
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.saveBtnOption button:nth-child(1):hover > span {
  display: block;
}

@media (max-width: 768px) {
  nav {
    padding: 2% 5%;
  }
  .logo img {
    width: 30px;
    height: 30px;
  }
  .logoTitle {
    font-weight: 600;
  }
  .editor {
    padding: 2% 5%;
  }
  .aboutDialog {
    right: 5%;
  }
  .undoAndRedoBtn button {
    padding: 5px;
  }
}
