* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ededed34;
  transition: .5s ease;
}
*::selection{
  background-color: #51515182;
  color: #fff;
}
nav {
  padding: 1% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cccccc34;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.logo img{
  width: 50px;
  height: 50px;
}
.logoTitle {
  font-weight: 700;
  font-size: 17px;
}
.aboutButton {
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #ccc;
  border: 1px solid transparent;
  position: relative;
}
.aboutButton:hover {
  border: 1px solid #000000;
  cursor: pointer;
}
.aboutButton span {
  position: absolute;
  font-weight: normal;
  font-size: small;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: #000000;
  color: #ccc;
  display: none;
  bottom: -40px;
  text-align: center;
  z-index: 5;
}
.aboutButton:hover > span {
  display: block;
  pointer-events: none;
}
.aboutDialog{
  z-index: 3;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #00000035;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  right: 10%;
  top: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.aboutDialog p{
  font-size: 14px;
  color: #000000cd;
}
.aboutDialog .list{
  display: flex;
  gap: 10px;
  align-items: baseline;

}
.aboutDialog .list .icon{
  width:30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-weight: 500;
}

.editor{
  padding: 2% 10%;
}
.characters{
  padding: 5px 10px ;
  background-color: #fff;
  border-radius: 5px;
  width: fit-content;
}